@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui" {
  themes: flatshare --default, light;
}

@plugin "daisyui/theme" {
  name: "flatshare";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: oklch(93% 0 0);
  --color-base-300: oklch(86% 0 0);
  --color-base-content: oklch(35.519% 0.032 262.988);
  --color-primary: #1191f8;
  --color-primary-content: oklch(33.387% 0.04 162.24);
  --color-secondary: oklch(61.302% 0.202 261.294);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: rgb(53, 255, 182);
  --color-accent-content: oklch(0% 0 0);
  --color-neutral: oklch(35.519% 0.032 262.988);
  --color-neutral-content: oklch(98.462% 0.001 247.838);
  --color-info: #1191f8;
  --color-info-content: oklch(0% 0 0);
  --color-success: rgb(53, 255, 182);
  --color-success-content: oklch(0% 0 0);
  --color-warning: oklch(84.71% 0.199 83.87);
  --color-warning-content: oklch(0% 0 0);
  --color-error: oklch(71.76% 0.221 22.18);
  --color-error-content: oklch(0% 0 0);
  --radius-selector: 2rem;
  --radius-field: 1rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.28125rem;
  --border: 2px;
  --depth: 1;
  --noise: 0;
}


@theme {
  --font-sans: "Segoe UI", sans-serif;
}

html {
  min-height: 100%;
  background:
    radial-gradient(circle at top, rgb(53 255 182 / 0.12), transparent 35%),
    linear-gradient(180deg, rgb(255 255 255 / 1) 0%, rgb(248 250 252 / 1) 100%);
}

body {
  min-height: 100vh;
  margin: 0;
}

#app {
  min-height: 100vh;
}
